.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.social {
  display: flex;
  gap: 10px;
  flex: 0.5;
}

.social a {
  position: relative; 
  display: block;
  width: 50px;
  height: 60px;
  text-align: center;
  line-height: 63px;
  /* background: #333; */
  border-radius: 40%;
  font-size: 30px;
  /* color: #666; */
  transition: .5s;
}

.social a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 30%;
  background: #9d78de;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

.social a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 8px #9d78de;
}

.social a:hover {
  color: #9d78de;
  box-shadow: 0 0 8px #9d78de;
  /* text-shadow: 0 0 5px #ffee10; */
}

.logo {
  flex: 1.5;
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
}


.links {
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 1;
  font-size: 24px;
}

.links a {
  background-image: linear-gradient(to right, #ba98f6, #eeb8f6 50%, currentcolor 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.links a:before {
  content: '';
  background: #ba98f6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.links a:hover {
  background-position: 0;
}

.links a:hover::before {
  width: 100%;
}

.dark-mode .link {
  background-image: linear-gradient(to right, #ba98f6, #eeb8f6 50%, #fff 50%); /* Adjust the text color for dark mode */
}

@media screen and (max-width: 1280px) {
  .logo {
    font-size: 32px;
  }
  .links {
    font-size: 18px;
    gap: 15px;
  }
}

@media screen and (max-width: 1024px) {
  .social {
    display: none;
  }
  .logo {
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    font-size: 24px;
  }
}

@media screen and (max-width: 640px) {
  .links {
    justify-content: flex-end;
  }
  .link {
    display: none;
  }
}
